:root {
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0px 0px 0px #d0d0dd, 0px 0px 0px #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --skin-clr: #fb839e;
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainSection {
  background-color: var(--bg-black-50);
  display: flex;
  width: 100vw;
  height: 100vh;
  /* background-color: palegreen; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainDiv {
  width: 30vh;
  height: 30vh;
  background-color: var(--bg-black-50);
  box-shadow: var(--outer-shadow);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* position: relative; */
}
.row,
.row1 {
  width: 100%;
  height: 10vh;
  /* background-color: red; */
  text-align: center;
  box-sizing: border-box;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--bg-black-900);
  /* position: absolute; */
}
.row1 {
  border-top: none;
}

.divc {
  height: 100%;
  width: 10vh;
  /* background-color: red; */

  border-left: 1px solid var(--bg-black-900);
}

.div1 {
  height: 100%;
  width: 10vh;

  /* background-color: red; */
}
.divc:hover,
.div1:hover {
  box-shadow: var(--inner-shadow);
}

/* .lineDiv {
  width: 100%;
  border: 1px solid var(--bg-black-900);
  position: relative;
  top: 5vh;
}
.lineDiv2 {
  border: 1px solid var(--bg-black-900);
  position: absolute;
  height: 30vh;
  left: 940px;
}

.lineDiv2::before {
  content: "";
  height: 30vh;
  border: 1px solid var(--bg-black-900);
  position: absolute;
}

.lineDiv2::before {
  left: -10vh;
}

.lineDiv::before {
  content: "";
  width: 100%;
  border: 1px solid var(--bg-black-900);
  position: absolute;
}

.lineDiv::before {
  top: -10vh;
} */
.heading {
  text-shadow: var(--outer-shadow);
  box-shadow: white;
  position: absolute;
  top: 700px;
  text-transform: capitalize;
  color: var(--skin-clr);
  transition: all 0.3s ease-in-out;
}
.heading:hover {
  transform: rotate(360deg);
}
.head {
  position: absolute;
  text-align: center;
  width: 300px;
  background-color: palegreen;
  box-shadow: var(--outer-shadow);

  top: 150px;
  left: 750px;
  font-size: 40px;
  border-radius: 3ch;
}
